<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication2.Properties.Settings.TestDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\TestDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="WindowsFormsApplication2.Properties.Settings.LocalDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\LocalDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="WindowsFormsApplication2.Properties.Settings.carsdotcomConnectionString"
            connectionString="Data Source=Srl0ad79.srl.ford.com;Initial Catalog=carsdotcom;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication2.Properties.Settings.WarGamingConnectionString"
            connectionString="Data Source=srl0ad79.srl.ford.com;Initial Catalog=WarGaming;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WindowsFormsApplication2.Properties.Settings>
            <setting name="Taurus" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApplication2.Properties.Settings>
    </userSettings>
</configuration>